<section id="About" class="container-fluid">
			<div class="imgContainer col-xs-6">
			</div>
			<div class="pContainer col-xs-6">
				<p><b>Hi, I'm Travis</b>, a developer based in Seattle Washington.
				I am curious by nature, I often find myself taking things apart to see how they work and brainstorming what would make that object better? As a Software Developer I use this natural curiosity to fuel my creative outlook on a project, and work through problems. 
				</p>
			</div>
	     </div>
</div>
</section>

 