<section id="About" class="container-fluid">
	
		<div class="wrapper col-xs-12 col-sm-10 col-md-8 col-sm-offset-2 col-md-offset-2">
			<div class="imgContainer col-xs-12 col-sm-10">
			<img class="hidden-xs" src="public/css/images/Color.jpg">
			</div>
			<div class="pContainer col-xs-12 col-sm-10 container-fluid">
				<p><b>Hi, I'm Travis</b>, a developer based in Seattle Washington.
				I am curious by nature, I often find myself taking things apart to see how they work and brainstorming what would make that object better? As a Software Developer I use this natural curiosity to fuel my creative outlook on a project, and work through problems. 
				</p>
			</div>
	     </div>
</div>
</section>

