<div du-scroll-container>
	
	<div ng-include="'public/views/about.html'"></div>

	<div class='parallaxContainer' ng-init="myPattern='public/css/images/board.jpg'">
      <div class='parallaxBox'>
        <div ng-parallax pattern="myPattern" speed="2"></div>
      </div>

	<div ng-include="'public/views/work.html'"></div>
	
	<div class='parallaxBox'>
        <div ng-parallax pattern="myPattern" speed="2"></div>
      </div>

	<div ng-include="'public/views/skills.html'"></div>

	<div class='parallaxBox'>
        <div ng-parallax pattern="myPattern" speed="2"></div>
      </div>

	<div ng-include="'public/views/contact.html'"></div>

	<section>
		<div id="foot">
			<p class="col-xs-10">TRAVIS HAYES 2016</p>
		</div>
	</section>
</div>