<section id="Skills">	
	<div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
		<h2>SKILLS</h2>
		<hr>
	</div>
		<div class="col-xs-10 col-sm-10 col-md-10  skillContainer">
			<div class="row1">
				<div class="col-xs-4 col-sm-2">
					<p>Javascript</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Ruby</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>AngularJS</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Bootstrap</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Heroku</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>PostgreSQL</p>
				</div>
			</div>


			<div class="row2">
				<div class="col-xs-4 col-sm-2">
					<p>HTML5</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>NodeJS</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>ReactJS</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>ExpressJS</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Git/Github</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Gulp</p>
				</div>
			</div>

			<div class="row3">
				<div class="col-xs-4 col-sm-2">
					<p>CSS3</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Rails</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>JQuery</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>Ajax</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>JSON</p>
				</div>
				<div class="col-xs-4 col-sm-2">
					<p>MongoDB</p>
				</div>
			</div>
		</div>
	</div>
</section>