<section id="Work">
	<div id="sectionHead">
		<h2>RECENT WORK</h2>
			<hr>
		<h4 class="hidden-xs">CLICK TO VIEW CODE OR VIEW PROJECT</h4>
		<h4 class="visible-xs">CLICK TO VIEW</h4>
	</div>
		<div ng-controller="CarouselDemoCtrl">
		    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		      <div class="slideCount" uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
		        <a href="{{slide.code}}" class="imgLink"><img ng-src="{{slide.image}}"></a>
		        <div class="contentContainer">
		        	<h4 class="visible-xs">{{slide.text}}</h4>
		          	<div><p class="hidden-xs">{{slide.content}}</p></div>
		         	<a href={{slide.code}} class="link hidden-xs">View The Code</a>
		          	<a href={{slide.demo}} class="link hidden-xs">View The Demo</a>
		        </div>
		      </div>
		    </div>
		  </div>
	</div>
	<div class="visible-xs bottomSpacer"></div>
</section>