<section id="Work">
	<div class="col-xs-8 col-sm-8 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3" id="sectionHead">
		<h2>RECENT WORK</h2>
			<hr>
		<h4>CLICK TO VIEW CODE OR VIEW PROJECT</h4>
	</div>

	<div class="container-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div ng-controller="CarouselDemoCtrl">
			  <div style="height: 400px">
			    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			        <img ng-src="{{slide.image}}">
			        <!-- <div class="carousel-caption" style="margin-top:1000px; color: red;background-color: rgba(255,255,255,0.5); height: 150px; width:700px;" > -->
			        	<div class="contentContainer">
			          <h4>{{slide.text}}</h4>
			          <p>{{slide.content}}</p>
			         <a href={{slide.code}} class="link">Code</a>
			          <a href={{slide.demo}} class="link">Demo</a>
			        	</div>
			      </div>
			    </div>
			  </div>
	</div>
	<div class="visible-xs bottomSpacer"></div>
</section>